section {
  display: flex;
  gap: 50px;
}

table {
  border: 1px solid whitesmoke;
  border-collapse: collapse;
  padding: 0;
  text-align: center;
  table-layout: fixed;
}

th {
  font-size: 24px;
  width: 150px;
  margin: 0;
  border: 1px solid whitesmoke;
}

th:first-child {
  width: 160px;
}

th:nth-child(2), th:nth-child(3) {
  width: 100px;
}

th:nth-child(4) {
  width: 110px;
}

td {
  border: 1px solid lightgrey;
}

td:first-child {
  text-align: start;
  padding-left: 6px;
}